<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Graph</title>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div id="target"></div>
  <script>
    (function() {
      'use strict';

        // パッケージのロード
        google.charts.load('current', {packages: ['corechart']});
        // コールバックの登録
        google.charts.setOnLoadCallback(drawChart);

        // コールバック関数の実装
        function drawChart() {
            // データの準備
            var data = new google.visualization.arrayToDataTable( ${dataTable} );

            // オプションの準備
            var options = {
                title: 'Composition',
                width: 750,
                height: 400,
                isStacked: 'percent',
                legend: { textStyle: { fontSize: 10 } },
            };

            // 描画用インスタンスの生成および描画メソッドの呼び出し
            var chart = new google.visualization.BarChart(document.getElementById('target'));
            chart.draw(data, options);
        }
    })();
  </script>
</body>
</html>