doctype html
html
  head
    title MetaSearch
    link(rel='stylesheet', href='./stylesheets/main.css')
    link(rel="stylesheet" href="./bootstrap-4.5.0-dist/css/bootstrap.min.css")

    script(src="javascripts/jquery-3.6.0.js")

  body
    block content