extends layout

block content
  .full-page
        header
            .head-content
                h1 MetaSearchDB
        .uploaded-content
            h1 Your Sequece Successfully Uploaded!
            p After we finished anlysis, we contact you via email !! Please Wait!! 
            a(href="." class="btn btn-outline-secondary") Go back
    
